# Question 1 
Consider the following Python module:  
a = 0  
def b():     
global a     
a = c(a)  
def c(a):     
return a + 2  
After importing the module into the interpreter, you execute:  
>>> b() 
>>> b() 
>>> b() 
>>> a 
?  What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [2]:
a = 0  
def b():     
    global a     
    a = c(a)

def c(a):     
    return a + 2

In [3]:
b()
b()
b()
a

6

# Explanation
value of a is initiated with 0. after every function call of b() 2 gets added to variable a.
So after 3 function calls a becomes 6.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
>fileLength('midterm.py')
284

> fileLength('idterm.py') 
Traceback (most recent call last):  
File "<pyshell#34>", line 1, in <module>   
fileLength('idterm.py')   File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

In [4]:
def fileLength(file_name):
    try:
        file = open(file_name)
        content = file.read()
        file.close()
        print(len(content))
    except:
        print("File ",file_name," not found.")

In [8]:
fileLength('test.txt')

48

# Question 3
Write a class named Marsupial that can be used as shown below:
> m = Marsupial()

> m.put_in_pouch('doll')

> m.put_in_pouch('firetruck')

> m.put_in_pouch('kitten') 

> m.pouch_contents() 

['doll', 'firetruck', 'kitten']

In [19]:
class  Marsupial:#class creation and function definition 
    global l 
    l = []
    def put_in_pouch(self,ele):
          l.append(ele)
    
    def pouch_contents(self):
        print(l)

In [20]:
m = Marsupial()#class object creation
m.put_in_pouch('doll') #finction calls
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

# 
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, 
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below. 

> k = Kangaroo(0,0) 

> print(k) 

I am a Kangaroo located at coordinates (0,0)

> k.put_in_pouch('doll')

> k.put_in_pouch('firetruck')

> k.put_in_pouch('kitten')

>k.pouch_contents()

['doll', 'firetruck', 'kitten'] 

> k.jump(1,0)

> k.jump(1,0)

>k.jump(1,0)

>print(k)

I am a Kangaroo located at coordinates (3,0)

In [32]:
class  Marsupial:#class creation and function definition 
    global l 
    l = []
    def put_in_pouch(self,ele):
          l.append(ele)
    
    def pouch_contents(self):
        print(l)
    
    
class Kangaroo(Marsupial):#inheritence
        
    def __init__(self, xcoord, ycoord):
        'initialize coordinates to (xcoord, ycoord)'
        self.x = xcoord
        self.y = ycoord

    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy
            
    def __str__(self):
        return "I am a Kangaroo located at coordinates({}, {})".format(self.x,self.y)

In [33]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0, 0)

In [34]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [35]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

         𝑥/2                𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

x = {       
        
        3𝑥+1               𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
 
 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [46]:
def collatz(x):
    if(x%2==0):
        print(int(x/2))
        collatz(x/2)
    elif(x!=1 and x%2!=0):    
        print(int(3*x)+1)
        collatz((3*x)+1)
    else:
        print(int(x))

In [47]:
collatz(1)

1

In [48]:
collatz(10)

5
16
8
4
2
1
1

# Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0)

0 

>>> binary(1) 

1 

>>> binary(3) 

11 

>>> binary(9) 

1001

In [11]:
def binary(n):
    st = ''
    if(n==0):
            print(n)
    else:
        while (n>0):        
                st = st + str(n%2)
                n = n//2
        print(st)

In [12]:
binary(0)

0

In [13]:
binary(1)

1

In [14]:
binary(3)

11

In [15]:
 binary(9)

1001

# Question 6 
Implement a class named HeadingParser that can be used to parse an HTML document, 
and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, 
defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings,
one per line and in the order in which they appear in the document. Each heading should be indented as follows:
an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>infile = open('w3c.html')

>content = infile.read() 

>infile.close() 

>hp = HeadingParser() 

>hp.feed(content)

W3C Mission  
Principles

In [43]:

from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    h1 = False
    h2 = False
    h3 = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1 = True
        if tag == "h2":
            self.h2 = True
        if tag == "h3":
            self.h3 = True
           
    def handle_data(self, data):
        if self.h1:
            print(data)
        if self.h2:
            print("     ",data)
        if self.h3:
            print("          ",data)
            
    def handle_endtag(self, tag):
        if tag == "h1":
            self.h1 = False
        if tag == "h2":
            self.h2 = False
        if tag == "h3":
            self.h3 = False

In [44]:
hParser = HeadingParser()
file = open("w3c.html")
content = file.read()
file.close()
hParser.feed(content)

W3C Mission
      Principles

In [45]:
infile.close()

# Question 7 
Implement recursive function webdir() that takes as input:
    a URL (as a string) and non-negative integers depth and indent. 
    Your function should visit every web page reachable from the starting URL web page in depth clicks or less, 
    
    and print each web page's URL.
    As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL. 
    >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) 
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html     
        http://reed.cs.depaul.edu/lperkovic/csc242/test2.html         
            http://reed.cs.depaul.edu/lperkovic/csc242/test4.html     
                http://reed.cs.depaul.edu/lperkovic/csc242/test3.html         
                    http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [137]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [140]:
#function definition
def webdir(url, depth, indent):
        for i in range(indent+1):
            print("\t",end='')
        print(url)
    
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls = collector.getLinks()
    
        for j in range(depth):
            webdir(urls[j], depth-1, indent+1)

In [141]:
#function call
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

	http://reed.cs.depaul.edu/lperkovic/test1.html
		http://reed.cs.depaul.edu/lperkovic/test2.html
			http://reed.cs.depaul.edu/lperkovic/test4.html
		http://reed.cs.depaul.edu/lperkovic/test3.html
			http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data. 
b) All the cities, but without repetition.
c) All the records for India. 
d) All the Fall records. 
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [46]:
import sqlite3
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("CREATE TABLE temp(city text, country text, season text, temperature real, rainfall real)")

In [48]:
cur.execute("INSERT INTO temp VALUES ('Mumbai','India','Spring',28.4,16.2 )")
cur.execute("INSERT INTO temp VALUES ('Mumbai','India','Summer',27.9,1549.4 )")
cur.execute("INSERT INTO temp VALUES ('Mumbai','India','Fall',27.6,346.0 )")
cur.execute("INSERT INTO temp VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO temp VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO temp VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO temp VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO temp VALUES ('Cairo','Egypt','Winter',13.6,16.5 )")
cur.execute("INSERT INTO temp VALUES ('Cairo','Egypt','Spring',20.7,6.5 )")
cur.execute("INSERT INTO temp VALUES ('Cairo','Egypt','Summer',27.7,0.1 )")
cur.execute("INSERT INTO temp VALUES ('Cairo','Egypt','Fall',22.2,4.5 )")

In [49]:
con.commit()

In [51]:
#a) All the temperature data
cur.execute("SELECT temperature from temp")
cur.fetchall()

[(28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [52]:
#b) b) All the cities, but without repetition.
cur.execute("SELECT DISTINCT city from temp")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [53]:
#c) All the records for India
cur.execute("SELECT * from temp where country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [55]:
# d) All the Fall records.
cur.execute("SELECT * from temp where season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [56]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute("SELECT city, country, season from temp where rainfall between 200 and 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [60]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("SELECT city, country from temp where season = 'Fall' and temperature > 20 order by temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [61]:
#g) The total annual rainfall for Cairo. 
cur.execute("SELECT sum(rainfall) from temp where city = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [62]:
 #h) The total rainfall for each season
cur.execute("SELECT season, sum(rainfall) from temp group by season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 224.2)]

# question 9 
 Suppose list words is defined as follows: 
        > words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 
        
        Write list comprehension expressions that use list words and generate the following lists: 
            a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
            b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 
            c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words). 
            d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) 
            e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more

In [64]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#a
print([i.upper() for i in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [65]:
#b
print([i.lower() for i in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [67]:
#c
print([len(i) for i in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [78]:
#d
print([[i.upper(),i.lower(),len(i)] for i in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [80]:
#e 
print([i for i in words if len(i)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']